# Go binaries
*.exe
*.exe~
*.dll
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace files
go.work
go.work.sum
.*cache

# Go module cache
bin/
pkg/

# Build artifacts
dist/
build/
tmp/
public/
dev/
/jcdssync
.env
*.tsbuildinfo
node_modules
vite.config.d.ts
vite.config.js
.gitignore

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
